In [2]:
import pymongo

In [5]:
!pip install dnspython

Requirement already satisfied: dnspython in c:\users\keith\anaconda3\envs\ml_models\lib\site-packages (1.16.0)

In [8]:

dbConn=pymongo.MongoClient('mongodb://localhost:27017/')

In [9]:
dbConn.list_database_names()

['Keith', 'admin', 'config', 'kf', 'local']

In [6]:
database=dbConn['Keith']

In [7]:
dbConn.list_database_names()

['admin', 'config', 'kf', 'local']

In [8]:
def checkconn(DbName,conn):
    DBlist=conn.list_database_names()
    if DbName in DBlist:
        print(f'DB:{DbName}exist')
        return True
    print(f'DB {DbName}not yet present or no collection')
    return False

In [11]:
checkconn('Keith',dbConn)

DB Keithnot yet present or no collection

False

In [12]:
database['Collection_Name']

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Keith'), 'Collection_Name')

# Create a collection

In [17]:
Collection_Name='Kf_products'
collection=database[Collection_Name]

In [18]:
database.list_collection_names()

['Collection_Name']

In [26]:
record={'companyName':'Kfproduct',
       'Products':'Electronics',
       'Discounts':'10%'}
collection.insert_one(record)

In [27]:
database.list_collection_names()

['Kf_products']

In [23]:
checkconn('Keith',dbConn)

DB:Keithexist

True

In [34]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'},
    {'companyName':'KF_products',
     'product':'watches',
     'discount':'10%'
    }
]

rec=collection.insert_many(list_of_records)

In [35]:
inserted_ids=rec.inserted_ids

for idx,unique_ids in enumerate(inserted_ids):
    print(f'{idx},{unique_ids}')

0,615702bca0cb4666df66a67d
1,615702bca0cb4666df66a67e
2,615702bca0cb4666df66a67f
3,615702bca0cb4666df66a680

In [36]:
col_name='Kferns'
collection1=database[col_name]

In [38]:
database.list_collection_names()

['Kf_products']

In [42]:
record=[
    {'_id':1,
    'Name':'Keith',
    'Age':22},
    {'_id':2,
     'Name':'Ferns',
     'Age':23}
]
re1=collection1.insert_many(record)

In [43]:
database.list_collection_names()

['Kferns', 'Kf_products']

In [45]:
find_first_rec=collection1.find_one()
print('the first recordis',find_first_rec)

the first recordis {'_id': ObjectId('61570540a0cb4666df66a681'), 'id': 1, 'Name': 'Keith', 'Age': 22}

In [48]:
all_record=collection1.find()

for idx,record in enumerate(all_record):
    print(f'{idx}:{record}')

0:{'_id': ObjectId('61570540a0cb4666df66a681'), 'id': 1, 'Name': 'Keith', 'Age': 22}
1:{'_id': ObjectId('61570540a0cb4666df66a682'), 'id': 2, 'Name': 'Ferns', 'Age': 23}
2:{'_id': 1, 'Name': 'Keith', 'Age': 22}
3:{'_id': 2, 'Name': 'Ferns', 'Age': 23}

In [50]:
#find Age
all_record_Age=collection1.find({},{'Age'})

for idx,Age_record in enumerate(all_record_Age):
    print(f'{idx}:{Age_record}')

0:{'_id': ObjectId('61570540a0cb4666df66a681'), 'Age': 22}
1:{'_id': ObjectId('61570540a0cb4666df66a682'), 'Age': 23}
2:{'_id': 1, 'Age': 22}
3:{'_id': 2, 'Age': 23}

In [52]:
#Query or filter out data in mongoDB

query1={'_id':1}

results=collection1.find(query1)
for data in results:
    print(data)

{'_id': 1, 'Name': 'Keith', 'Age': 22}

In [53]:
query2={'_id':{'$gt':1}}

for results in collection1.find(query2):
    print(results)

{'_id': 2, 'Name': 'Ferns', 'Age': 23}

In [54]:
#Delete Records

more_rec=[
    {
        '_id':3,
        'Name':'Sua',
        'Age':30
    },
    {
        '_id':4,
        'Name':'John',
        'Age':40
    },
    {
        '_id':5,
        'Name':'Andrew',
        'Age':35
    }
]
mrec=collection1.insert_many(more_rec)

In [55]:
querydel={'Name':'John'}
collection1.delete_one(querydel)

In [56]:
for i in collection1.find():
    print(i)

{'_id': ObjectId('61570540a0cb4666df66a681'), 'id': 1, 'Name': 'Keith', 'Age': 22}
{'_id': ObjectId('61570540a0cb4666df66a682'), 'id': 2, 'Name': 'Ferns', 'Age': 23}
{'_id': 1, 'Name': 'Keith', 'Age': 22}
{'_id': 2, 'Name': 'Ferns', 'Age': 23}
{'_id': 3, 'Name': 'Sua', 'Age': 30}
{'_id': 5, 'Name': 'Andrew', 'Age': 35}

In [57]:
multi_query_idx={'_id':{'$gt':3}}

collection1.delete_many(multi_query_idx)

In [58]:
for i in collection1.find():
    print(i)

{'_id': ObjectId('61570540a0cb4666df66a681'), 'id': 1, 'Name': 'Keith', 'Age': 22}
{'_id': ObjectId('61570540a0cb4666df66a682'), 'id': 2, 'Name': 'Ferns', 'Age': 23}
{'_id': 1, 'Name': 'Keith', 'Age': 22}
{'_id': 2, 'Name': 'Ferns', 'Age': 23}
{'_id': 3, 'Name': 'Sua', 'Age': 30}

In [59]:
#drop the entire collection

collection1.drop()

In [61]:
collection_Name='KF'
DB_NAME='Keith'

In [62]:
def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    """It verifies the existence of collection name in a database"""
    collection_list = db.list_collection_names()
    
    if COLLECTION_NAME in collection_list:
        print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' exists")
        return True
    
    print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' does not exists OR \n\
    no documents are present in the collection")
    return False


_ = checkExistence_COL(COLLECTION_NAME=collection_Name, DB_NAME=DB_NAME, db=database)

Collection:'KF' in Database:'Keith' does not exists OR
    no documents are present in the collection

In [63]:
database.list_collection_names()

['Kf_products']

In [85]:
col='Kf_products'
cols=database[col]

In [68]:
for idx,val in enumerate(coll.find()):
    print(idx,val)

0 {'_id': ObjectId('6156d86aa0cb4666df66a677'), 'companyName': 'Kfproducts', 'Products': 'Clothwear', 'Discounts': '10%'}
1 {'_id': ObjectId('6156d93ba0cb4666df66a678'), 'companyName': 'Kfproduct', 'Products': 'Electronics', 'Discounts': '10%'}
2 {'_id': ObjectId('6156ff15a0cb4666df66a679'), 'companyName': 'Kfproduct', 'Products': 'Electronics', 'Discounts': '10%'}
3 {'_id': ObjectId('6157007fa0cb4666df66a67a'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
4 {'_id': ObjectId('6157007fa0cb4666df66a67b'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
5 {'_id': ObjectId('6157007fa0cb4666df66a67c'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
6 {'_id': ObjectId('615702bca0cb4666df66a67d'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
7 {'_id': ObjectId('615702bca0cb4666df66a67e'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
8 {'_id': ObjectId('615702bca0cb4666df66a67f'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
9 {'_id': ObjectId('615702bca0cb4666df66a680'), 'companyName': 'KF_products', 'product': 'watches', 'discount': '10%'}

In [72]:
present_data={'courseOffered':'Machine Learning with Deployment'}
update_data={'$set':{"courseOffered":"ML and DL"}}
coll.update_one(present_data,update_data)

In [73]:
for i,val in enumerate(coll.find()):
    print(i,':',val)

0 : {'_id': ObjectId('6156d86aa0cb4666df66a677'), 'companyName': 'Kfproducts', 'Products': 'Clothwear', 'Discounts': '10%'}
1 : {'_id': ObjectId('6156d93ba0cb4666df66a678'), 'companyName': 'Kfproduct', 'Products': 'Electronics', 'Discounts': '10%'}
2 : {'_id': ObjectId('6156ff15a0cb4666df66a679'), 'companyName': 'Kfproduct', 'Products': 'Electronics', 'Discounts': '10%'}
3 : {'_id': ObjectId('6157007fa0cb4666df66a67a'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'ML and DL'}
4 : {'_id': ObjectId('6157007fa0cb4666df66a67b'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
5 : {'_id': ObjectId('6157007fa0cb4666df66a67c'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
6 : {'_id': ObjectId('615702bca0cb4666df66a67d'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'ML and DL'}
7 : {'_id': ObjectId('615702bca0cb4666df66a67e'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
8 : {'_id': ObjectId('615702bca0cb4666df66a67f'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
9 : {'_id': ObjectId('615702bca0cb4666df66a680'), 'companyName': 'KF_products', 'product': 'watches', 'discount': '10%'}

In [75]:
limit=4

for idx,val in enumerate(coll.find().limit(limit)):
    print(idx,':',val)

0 : {'_id': ObjectId('6156d86aa0cb4666df66a677'), 'companyName': 'Kfproducts', 'Products': 'Clothwear', 'Discounts': '10%'}
1 : {'_id': ObjectId('6156d93ba0cb4666df66a678'), 'companyName': 'Kfproduct', 'Products': 'Electronics', 'Discounts': '10%'}
2 : {'_id': ObjectId('6156ff15a0cb4666df66a679'), 'companyName': 'Kfproduct', 'Products': 'Electronics', 'Discounts': '10%'}
3 : {'_id': ObjectId('6157007fa0cb4666df66a67a'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'ML and DL'}

In [90]:
norm={'Products':'Affordable AI'}
new_data={'$set':{'Products':'Affordable Everything'}}
cols.update_many(norm,new_data)
all_rec=cols.find()
for idx,val in enumerate(all_rec):
    print(idx,':',val)

0 : {'_id': ObjectId('6156d86aa0cb4666df66a677'), 'companyName': 'Kfproducts', 'Products': 'Clothwear', 'Discounts': '10%'}
1 : {'_id': ObjectId('6156d93ba0cb4666df66a678'), 'companyName': 'Kfproduct', 'Products': 'Electronics', 'Discounts': '10%'}
2 : {'_id': ObjectId('6156ff15a0cb4666df66a679'), 'companyName': 'Kfproduct', 'Products': 'Electronics', 'Discounts': '10%'}
3 : {'_id': ObjectId('6157007fa0cb4666df66a67a'), 'companyName': 'iNeuron', 'product': 'Affordable Everything', 'courseOffered': 'ML and DL'}
4 : {'_id': ObjectId('6157007fa0cb4666df66a67b'), 'companyName': 'iNeuron', 'product': 'Affordable Everything', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
5 : {'_id': ObjectId('6157007fa0cb4666df66a67c'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
6 : {'_id': ObjectId('615702bca0cb4666df66a67d'), 'companyName': 'iNeuron', 'product': 'Affordable Everything', 'courseOffered': 'ML and DL'}
7 : {'_id': ObjectId('615702bca0cb4666df66a67e'), 'companyName': 'iNeuron', 'product': 'Affordable Everything', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
8 : {'_id': ObjectId('615702bca0cb4666df66a67f'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
9 : {'_id': ObjectId('615702bca0cb4666df66a680'), 'companyName': 'KF_products', 'product': 'watches', 'discount': '10%'}

In [83]:
coll.update_many

AttributeError: 'UpdateResult' object has no attribute 'update_many'

In [92]:
mongodb+srv://KF_311:Keith@123@kfmongodb.lqzua.mongodb.net/kf?retryWrites=true&w=majority

SyntaxError: invalid syntax (Temp/ipykernel_12920/3069942347.py, line 1)

In [94]:
import pymongo

In [99]:

client = pymongo.MongoClient("mongodb+srv://KF_311:<Keith@123>@kfmongodb.lqzua.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
client

ConfigurationError: The "dnspython" module must be installed to use mongodb+srv:// URIs. To fix this error install pymongo with the srv extra:
 C:\Users\keith\anaconda3\envs\ML_Models\python.exe -m pip install "pymongo[srv]"

In [98]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\keith\anaconda3\envs\ml_models\lib\site-packages (3.12.0)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0 in c:\users\keith\anaconda3\envs\ml_models\lib\site-packages (from pymongo[srv]) (1.16.0)

In [103]:
!pip install 'pymongo[srv]'

ERROR: Invalid requirement: "'pymongo[srv]'"