In [9]:
import pymongo
import ssl

In [10]:
client = pymongo.MongoClient("mongodb+srv://user:admin@cluster0.c4l2l.mongodb.net/myFirstDatabase?retryWrites=true&w=majority",ssl_cert_reqs=ssl.CERT_NONE)
db = client.test

In [11]:
db

Database(MongoClient(host=['cluster0-shard-00-00.c4l2l.mongodb.net:27017', 'cluster0-shard-00-02.c4l2l.mongodb.net:27017', 'cluster0-shard-00-01.c4l2l.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-qnhtyq-shard-0', ssl=True, ssl_cert_reqs=<VerifyMode.CERT_NONE: 0>), 'test')

In [12]:
database_name=client['studentk']

In [13]:
col='student_detailsk'
student_col=database_name[col]

In [14]:
student_dta={
    'name':'Keith',
    'Age':20
}

In [15]:
student_col.insert_one(student_dta)

In [16]:
student_cursor=student_col.find()

In [17]:
student_cursor.next()

{'_id': ObjectId('6177b62ada49f58a5340d1ef'), 'name': 'Keith', 'Age': 20}

In [18]:
for student_details in student_col.find():
    print(student_details)

{'_id': ObjectId('6177b62ada49f58a5340d1ef'), 'name': 'Keith', 'Age': 20}

In [19]:
student_details_list=[
    {'Name':'Ferns',
    'Age':22},
    {'Name':'Fut',
    'Age':23},
    {'Name':'Alex',
    'Age':51}
]

In [20]:
student_col.insert_many(student_details_list)

In [21]:
for i in student_col.find():
    print(i)

{'_id': ObjectId('6177b62ada49f58a5340d1ef'), 'name': 'Keith', 'Age': 20}
{'_id': ObjectId('6177bf7cda49f58a5340d1f0'), 'Name': 'Ferns', 'Age': 22}
{'_id': ObjectId('6177bf7cda49f58a5340d1f1'), 'Name': 'Fut', 'Age': 23}
{'_id': ObjectId('6177bf7cda49f58a5340d1f2'), 'Name': 'Alex', 'Age': 51}

In [22]:
query={'Name':'Ferns'}
for i in student_col.find(query):
    print(i)

{'_id': ObjectId('6177bf7cda49f58a5340d1f0'), 'Name': 'Ferns', 'Age': 22}

In [25]:
query={"name":{"$eq":"Keith"}}
for k in student_col.find(query):
    print(k)

{'_id': ObjectId('6177b62ada49f58a5340d1ef'), 'name': 'Keith', 'Age': 20}